### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Unity generated output
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Bb]uild/
/[Bb]uilds/
/Builds/
/Evidence/
/.gjc/
/.omo/

# Python generated output
__pycache__/
*.py[cod]

# Unity Performance Testing generated resources
/Assets/Resources/PerformanceTestRunInfo.json
/Assets/Resources/PerformanceTestRunInfo.json.meta
/Assets/Resources/PerformanceTestRunSettings.json
/Assets/Resources/PerformanceTestRunSettings.json.meta